{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}
{% block title %}Reset Password{% endblock %}



{% block content %}
<form class="form-horizontal" action="{{ url_for('.reset_password', serialized_token=serialized_token) }}" method=POST>
    <h1>Reset Password</h1>
    <p>Create a new password for user <strong>{{ form.login.data }}</strong></p>
    {{ form.hidden_tag() }}
    {% for field in form if field.name != 'csrf_token' and field.name != 'login' %}
        {% if form.errors[field.name] %}
        <div class="form-group has-error">
        {% else %}
        <div class="form-group has-feedback">
        {% endif %}
            <div class="col-sm-6"> 
                {{ field.label(class_='sr-only control-label') }}
                <!-- Special case for New Password input. Adds help popover
                        and a password strength bar. -->
                {% if field.name == 'password' %}
                <div class="input-group">
                    {{ field(class_='form-control', placeholder=field.label.text, autocomplete='off', id='password') }}
                    <!--<span id="password_result" class="glyphicon form-control-feedback" data-toggle="tooltip" data-placement="top"></span>-->
                    <span class="input-group-addon"><span id="password_help" class="glyphicon glyphicon-info-sign" data-toggle="popover" data-placement="right"></span></span>
                </div><!-- end input-group -->
                <span id="password_bar"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="bar"></span></span>
                {% else %}
                {{ field(class_='form-control', placeholder=field.label.text, autocomplete='off') }}
                {% endif %}
            </div><!-- end col-sm-6 -->
        </div><!-- end form-group -->
    {% endfor %}
    
    <div class="form-group">
        <div class="col-sm-1">
            <input type="submit" class="btn btn-default" value="Reset">
        </div>
    </div>
</form>

<br/>
{% endblock %}<!-- end .content -->



{% block footer %}
{{ super() }}
{% endblock %}



{% block scripts %}
<script src="{{ url_for('static', filename='js/password_help.js') }}"></script>
<script src="{{ url_for('static', filename='js/zxcvbn/zxcvbn-async.js') }}"></script>
{% endblock %}